@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", serif;
}
body{
    max-width: 100%;
    /* margin: 0 auto; */
    background-color: rgb(247, 247, 247);
}

/* share style */
.menu{
    display: none;
    font-size: 25px;
}

.nabar a{
    text-decoration: none;
    font-size: 1.3rem;
    
}

.btn-primary {
    font-size: 1.3rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    
    border-radius: 12px;
    border: none;
    padding: 10px 40px;
}

#bg-color1{
    background-color: rgb(254, 163, 1);
}
#bg-color2{
    background-color: rgb(17, 17, 17);
}
#bg-color-3{
    background-color: rgb(17, 17, 17);
    
}
.view{
    text-align: center;
    padding: 20px;
}

#read-more-1{
    color: rgb(100, 200, 255);
}
#read-more-2{
    color: rgb(240, 170, 0);
}
#read-more-3{
    color: rgb(135, 0, 255);
}

section{
    max-width: 80%;
    margin: 0 auto;
}
.mini-bar{
    font-size: 0.80rem;
    font-weight: 500;
    font-family: Raleway;
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    border: none;
    border-radius: 50px;
    background-color: rgb(60, 216, 232);
    position: relative;
    left: 38px;
    top: -22px;

}
/* header style */

header{
    max-width: 80%;
    margin: 0 auto;
    padding: 1.2rem;
}

/* navbar section */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 20px 0;
    
}

.logo-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-title{
    font-size: 2rem;
    font-weight: 700;
    color: rgb(17, 17, 17);
    margin-left: 0.75rem;
}

.nav-list ul{
    display: flex;
    
}
.nabar{
    list-style: none;
    margin-left: 3rem;
}
#color-1{
    color: rgb(254, 163, 1);
    font-weight: 700;
}
#color-2{
    color: rgb(1, 172, 253);
    font-weight: 500;
}
#color-3{
    color: rgb(5, 212, 223);
    font-weight: 500;
}
#color-4{
    color: rgb(93, 88, 239);
    font-weight: 500;
}
/* ay code sudu boro howar karone figma theke copy kore ana hoyece */

#curriculam-box-1{
    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}

#curriculam-box-2{
    box-sizing: border-box;
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}

#curriculam-box-3{
    box-sizing: border-box;
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}




/* banner section */

.banner-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}
/* .banner-left{
    max-width: 640px;
}
.banner-right{
    max-width: 468px;
} */

.banner-title{
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 4rem;
    margin-bottom: 1.5rem;
}

.font-color1{
    color: rgba(254, 163, 1, 1);
}
.font-color2{
    color:rgba(1, 172, 253, 1);
}

.banner-discription{
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.6rem;
    margin-bottom: 1.6rem;
    
}
 
/* main section */
 
main{
    /* background-image: url(../assets/bg.png); */
    background: url(../assets/bg.png),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 40%);
    
    /* height: 600px; */
}

.curriculam{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.curriculam-box{
    position: relative;
    max-width: 367px;
    min-height: 430px;
   
}

.student-curriculam{
    font-size: 2.7rem;
    font-weight: 700;
    margin: 1.5rem 0;
    padding: 2.4rem 0;
    text-align: center;
}

.curriculam-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}
.title-curriculm{
    font-size: 1.6rem;
    font-weight: 700;
    margin-top: 2rem;
    
}

.curriculam-description{
    font-size: 0.89rem;
    color: rgb(128, 128, 128);
    font-weight: 500;
    margin-top: 2rem;
    line-height: 1.8rem;
}

.curriculam-read{
    font-size: 0.89rem;
    margin-top: 2rem;
    font-weight: 700;
}

.icon{
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 4rem;
     gap: 20px;
}
.icone-bar{
    background-color: rgb(254, 163, 1);
    border-radius: 100%;
    padding: 15px;
    color: aliceblue;
    font-weight: 900;
    
}
.storis-title{
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
    margin: 60px 0;
}
.trainer{
    /* background-color: rgb(255, 255, 255); */
    padding: 30px;

    align-items: center;
}
.trainer h3{
    font-size: 24px;
    font-weight: 700;
    padding: 10px 0;
}
.trainer p{
    font-size: 15px;
    font-weight: 500;
    
    color: rgb(102, 102, 102);
}
.combo-box{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   justify-items: center;
   align-items: center;
}
.combo-box-left{
    max-width: 540px;
    border-radius: 0 0 16px 16px;
    background-color: rgb(255, 255, 255);
    /* margin-bottom: 50px; */
    
   
    
}

.combo-box-left img{
    /* position: absolute; */
    border-radius: 16px 16px 0 0;
}

.combo-box-right{
    max-width:600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    margin-bottom: 30px;
    gap: 10px;
    
}
.combo-double img{
    border-radius: 16px 16px 0 0;
    width: 100%;
}
.combo-double{
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    max-width: 300px;
    

}
.combo-double h4{
    font-size: 0.86rem;
    font-weight: 700;
    align-items: center;
    padding: 20px;
}

#mini-bar2{
    background-color: rgb(149, 178, 38);
}
#mini-bar3{
    background-color: rgb(93, 88, 240);
}
#mini-bar4{
    background-color: #222064;
}
#mini-bar5{
    background-color: #c0924e;
}



/* footer section */
footer{
    background-color: rgb(1, 172, 253);
    height: 420px;
}

.footer-conatiner{
    display: flex;
    height: 420px;
    /* position: relative; */
   justify-content: space-around;
   align-items: center;
    
}
.mini-footer-box{
    display: flex;
    justify-content: start;
    align-items: center;
}
.mini-footer-box h3{
    font-size: 1.3rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
}
.footer-box p{
    width: 320px;
    padding: 5px;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1.8rem;
    line-height: 1.3rem;
    color: rgb(255, 255, 255);
}

.footer-box-2 h3{
    font-size: 1.2rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
}
.footer-box-2  li{
    list-style: none;
    margin: 15px 0;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
}
.footer-box-3{
    margin-bottom: 80px;
    
}
.bed-luck{
    font-size: 1.3rem;
    font-weight: 700;
    font-size: 1.2rem;
    font-weight: 700;
    color: rgb(255, 255, 255);

}
.logo-icon{
    margin-top: 20px;
}




.marquee p{
    font-size: 1.2rem;
    font-weight: 600;
    position: absolute;
    text-align: center;
    transform: translateX(100%);
    animation: marquee 20s linear  infinite  ;
}

@keyframes marquee {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}






@media screen and (max-width:576px) {
    .logo-title, .nav-list, .btn-primary{
        display: none;
    }
    .menu{
        display: block;
    }
    nav{
        border-bottom: 2px solid rgb(254, 163, 1);
        
    }
    .banner-container{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .banner-left{
        max-width: 380px;
        /* margin: 0 auto; */
        justify-content: center;
        align-items: center;
        text-align: center;
        order: 2;
    }
    #bg-color2{
        display: block;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #bg-color{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .banner-right img{
        max-width:340px;
        margin-bottom: 20px;
        justify-content: center;
        align-items: center;
        text-align: center;
        order: 1;
    }

    .curriculam{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 10px;
    }

    .icone-bar{
        display: none;
    }

    .combo-box-left{
        display: none;
    }
   
     .combo-box-right{
       max-width:600px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items:center;
        gap:5px;
    }
    .combo-double{
        background-color: rgb(255, 255, 255);
        border-radius: 9px;
        justify-items: center;
        align-items: center;
        min-width: 200px;
        /* gap: 20px; */
    }
    .combo-double img{
        border-radius: 9px 9px 0 0;
        max-width: 100%;
    }
    .combo-double h4{
        font-size: 0.6rem;
        font-weight: 600;
        align-items: center;
        padding: 10px;
    }
    footer{
        background-color: rgb(1, 172, 253);
        height: 530px;
    }
    .footer-conatiner{
        display: flex;
        flex-direction: column;
        padding: 30px;
        height: 530px;
        /* position: relative; */
       justify-content: flex-start;
       /* align-items: center; */
        
    }
    .footer-box p{
        margin-bottom: 15px;
    }
    .footer-box-2{
        margin-left: -180px;
       
    }
    .footer-box-3{
        margin-left: -180px;
        margin-top: 20px;
    }
    .footer-box h3{
        font-size: 1.2rem;
        font-weight: 700;
        color: rgb(255, 255, 255);
        justify-content: flex-start;
    }
    #bg-color-3{
        display: block;
        
    }
   


}

@media screen and (min-width:576px) and (max-width:992px) {
    .logo-title, .nav-list, .btn-primary{
        display: none;
    }
    nav{
        border-bottom: 2px solid rgb(254, 163, 1);
        
    }
    .menu{
        display: block;
    }
    
    nav{
        display: flex;
        justify-content: space-between;
        gap: 10px;
        align-items: center;
    }
    .banner-container{
        grid-template-columns: repeat(1, 1fr);
        /* justify-items: center; */
        justify-content: center;
        text-align: center;
        align-items: center;
    }
   
    #bg-color2{
        display: block;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #bg-color{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .banner-left{
        max-width: 620px;
        /* margin: 0 auto; */
        justify-content: center;
        align-items: center;
        text-align: center;
        order: 2;
    }
    .banner-right img{
        max-width:500px;
        margin-bottom: 20px;
        justify-content: center;
        align-items: center;
        text-align: center;
        order: 1;
    }
    .curriculam{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
       
        justify-items: center;
        /* place-items: center; */
        align-items: center;
        gap: 10px;
    }
    .curriculam-box-3{

        grid-column: span 2;
    }
    .icone-bar{
        display: none;
    }
    .combo-box-left{
        display: none;
    }
   
     .combo-box-right{
       max-width:600px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* justify-items: center;
        align-items:center; */
        gap:5px;
    }
    .combo-double{
        background-color: rgb(255, 255, 255);
        border-radius: 9px;
        /* justify-items: center;
        align-items: center; */
        min-width: 200px;
        /* gap: 20px; */
    }
    .combo-double img{
        border-radius: 9px 9px 0 0;
        max-width: 100%;
    }
    .combo-double h4{
        font-size: 0.6rem;
        font-weight: 600;
        align-items: center;
        padding: 10px;
    }
    footer{
        background-color: rgb(1, 172, 253);
        height: 530px;
    }
    .footer-conatiner{
        display: flex;
        flex-direction: column;
        padding: 30px;
        height: 530px;
        /* position: relative; */
       justify-content: flex-start;
       /* align-items: center; */
        
    }
    .footer-box p{
        margin-bottom: 15px;
    }
    .footer-box-2{
        margin-left: -180px;
       
    }
    .footer-box-3{
        margin-left: -180px;
        margin-top: 20px;
    }
    .footer-box h3{
        font-size: 1.2rem;
        font-weight: 700;
        color: rgb(255, 255, 255);
        justify-content: flex-start;
    }
    #bg-color-3{
        display: block;
        text-align: center;
    }



}